<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qxl.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="cn.qxl.bean.SysPermission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_info" jdbcType="VARCHAR" property="permissionInfo" />
    <result column="ver" jdbcType="INTEGER" property="ver" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_in_use" jdbcType="CHAR" property="isInUse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permission_id, permission_name, permission_info, ver, create_user, update_user, 
    create_time, update_time, is_in_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.qxl.bean.SysPermission" useGeneratedKeys="true">
    insert into t_sys_permission (permission_id, permission_name, permission_info, 
      ver, create_user, update_user, 
      create_time, update_time, is_in_use
      )
    values (#{permissionId,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionInfo,jdbcType=VARCHAR}, 
      #{ver,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isInUse,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.qxl.bean.SysPermission" useGeneratedKeys="true">
    insert into t_sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionInfo != null">
        permission_info,
      </if>
      <if test="ver != null">
        ver,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isInUse != null">
        is_in_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionInfo != null">
        #{permissionInfo,jdbcType=VARCHAR},
      </if>
      <if test="ver != null">
        #{ver,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isInUse != null">
        #{isInUse,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qxl.bean.SysPermission">
    update t_sys_permission
    <set>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionInfo != null">
        permission_info = #{permissionInfo,jdbcType=VARCHAR},
      </if>
      <if test="ver != null">
        ver = #{ver,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isInUse != null">
        is_in_use = #{isInUse,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qxl.bean.SysPermission">
    update t_sys_permission
    set permission_id = #{permissionId,jdbcType=INTEGER},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_info = #{permissionInfo,jdbcType=VARCHAR},
      ver = #{ver,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_in_use = #{isInUse,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>